@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}

.top-banner {
    height: 50%;
}

.picture {
    padding-right: 0 !important;
}

.single-details {
    margin: 20px auto;
    padding: 10px 10px;
    height: 100%;
    height: 50%; /* how to make this the height of the rest of the page? */
}

.single-links {
    font-size: 12px;
    text-align: left;
}

ul {
    list-style-type: none;
}

.card-text {
    padding-left: 0;
}

.fa-trash-alt {
    margin-left: 20px !important;
}

.fa-trash-alt:hover {
    color: orange;
}

.favorites {
    text-align: right !important;
}